:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #00e1ff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Zatura Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Zatura Regular'), url('ZaturaRegular-KVGWo.woff') format('woff');
}
h1{
  font-family: 'Zatura Regular';
  color: #9EEBCF;
}
body {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
  text-transform: uppercase;
  background: 
    linear-gradient(222deg, rgba(0, 255, 255, 0.8), rgba(255, 0, 0, 0) 60%),
    linear-gradient(111deg, rgb(162, 0, 255), rgba(0, 255, 0, 0) 60%),
    linear-gradient(333deg, rgba(234, 0, 255, 0.8), rgba(0, 0, 255, 0) 60%);
} 
